<div class="panel panel-primary">
    {#<div class="panel-heading">#}
    {#<h2 class="text-center">Register new user</h2>#}
    {#</div>#}
    <div class="panel-body">
        <div id="jsRegisterFormErrors" class="alert alert-danger hidden" role="alert">
            <ul></ul>
        </div>
        <form id="jsRegisterForm">
            <div class="form-group">
                <label for="jsNameInput">My nickname:</label>
                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                </span>
                    <input type="text" id="jsNameInput" name="nickname" class="form-control"
                           value="{{ sessionData.userData.nickname }}" aria-describedby="username" disabled>
                </div>
            </div>

            <div class="form-group">
                <label>Choose avatar you like:</label>
                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </span>
                    <input type="text" id="jsFileNameArea" class="form-control"
                           placeholder="filename will be here..." disabled>
                    <div class="input-group-btn">
                        <input id="jsFileInput" type="file" name="avatar" class="hidden">
                        <button id="jsFileInputTrigger" class="btn btn-default">Browse</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Select gender*</label>
                <div class="input-group">
                    <div class="row">
                        <div class="col-sm-3">
                                        <span class="input-group-addon">
                                            <i class="fa fa-venus-mars" aria-hidden="true"></i>
                                        </span>
                            <div class="input-group-btn" id="jsGenderSelect">
                                <button class="btn btn-default disabled"
                                        disabled>{{ sessionData.userData.gender }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <strong>
                    If you want to change password click
                    <a data-toggle="collapse" href="#collapsePasswords" aria-expanded="false" aria-controls="collapsePasswords">
                        here
                    </a>
                </strong>
            </div>

            <div class="collapse" id="collapsePasswords">
                <div class="form-group">
                    <label for="jsPasswordInput">Enter your current password*:</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                        <input type="password" id="jsPasswordInput" name="password" class="form-control"
                               placeholder="ex. ivan1" aria-describedby="password" required>
                        <span class="input-group-addon">
                            <input id="jsDisclosePassword" type="checkbox" data-toggle="tooltip"
                                   data-placement="top"
                                   title="Disclose password">
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="jsPasswordInput">Enter your new password*:</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                        <input type="password" id="jsPasswordInput" name="password" class="form-control"
                               placeholder="ex. ivan1" aria-describedby="password" required>
                        <span class="input-group-addon">
                            <input id="jsDisclosePassword" type="checkbox" data-toggle="tooltip"
                                data-placement="top"
                                title="Disclose password">
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="jsPasswordInput">Confirm your new password*:</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                        <input type="password" id="jsPasswordInput" name="password" class="form-control"
                               placeholder="ex. ivan1" aria-describedby="password" required>
                        <span class="input-group-addon">
                            <input id="jsDisclosePassword" type="checkbox" data-toggle="tooltip"
                                   data-placement="top"
                                   title="Disclose password">
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="g-recaptcha" data-sitekey="6LfOtQkUAAAAAJI7XxTYC01iwoQNkxKZ6GA8qRXr"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 pull-right">
                    <button type="submit" id="jsRegisterBtn" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>