<div class="list-group small">
    <a href="/" class="list-group-item">
        <i class="fa fa-home" aria-hidden="true"></i> Home
    </a>
    <a href="/register" class="list-group-item list-group-item-info">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        Register
    </a>
</div>

