{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <div class="page-header">
                <h2>Best Internet People</h2>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-5">
            {{ render( controller( 'AppBundle:RenderPages:renderAuthRegisterBlock', {'page' : 'default'} )) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ render( controller( 'AppBundle:TopUsers:showTopUsersList' )) }}
        </div>
        <div class="col-sm-6"></div>
    </div>
{% endblock %}
