{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-3 col-sm-offset-9">
            {{ render( controller( 'AppBundle:RenderPages:renderAuthRegisterBlock', {'page' : 'register'} )) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="text-center">Register new user</h2>
                </div>
                <div class="panel-body">
                    <div id="js_register_form_errors" class="alert alert-danger" role="alert">
                        <ul>
                            <li>
                                Password should contain 1 number
                            </li>
                            <li>
                                Enter good nickname
                            </li>
                        </ul>

                    </div>
                    <form id="js_register_form">
                        <div class="form-group">
                            <label for="js_name_input">Enter your nickname</label>
                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </span>
                                <input type="text" id="js_name_input" class="form-control" minlength="4"
                                       placeholder="ex. Ivan" aria-describedby="username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="js_password_input">Enter your password</label>
                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                                <input type="password" id="js_password_input" class="form-control" minlength="5"
                                       placeholder="ex. ivan1" aria-describedby="password" required>
                                <span class="input-group-addon">
                            <input id="js_disclose_password" type="checkbox" data-toggle="tooltip" data-placement="top"
                                   title="Disclose password">
                        </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Choose avatar you like</label>
                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </span>
                                <input type="text" id="js_filename_area" class="form-control"
                                       placeholder="filename will be here..." disabled>
                                <div class="input-group-btn">
                                    <input id="js_file_input" type="file" class="hidden">
                                    <button id="js_file_input_trigger" class="btn btn-default">Browse</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Select gender</label>
                            <div class="input-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                <span class="input-group-addon">
                                    <i class="fa fa-venus-mars" aria-hidden="true"></i>
                                </span>
                                        <div class="input-group-btn" id="js_gender_select">
                                            <button class="btn btn-default">Male</button>
                                            <button class="btn btn-default">Female</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-8 pull-right">
                                <button type="submit" id="js_register_btn" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    {% verbatim %}
        <script >
            var register_page = true;
        </script>
    {% endverbatim %}
{% endblock %}
