{% extends 'base.html.twig' %}
{% block additions %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-3">
            <div class="page-header">
                <h2>Register Form</h2>
            </div>
        </div>
        <div class="col-sm-2">
            {% include 'registerPage/userInfoBlock.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                {% include 'registerPage/formBlock.html.twig' %}
            </div>
        </div>
    </div>
    {% verbatim %}
        <script >
            var registerPage = true;
        </script>
    {% endverbatim %}
{% endblock %}
