<form id="jsCommentsForm">
        <div class="medium-editor"></div>
    <input type="hidden" name="comment" id="jsCommentArea">
    <input type="hidden" name="toUserId" value="{{ discoverUserData.id }}">
    <br>
    <button type="submit" id="jsSendCommentBtn" class="btn btn-default pull-right">
        <i class="fa fa-share-square" aria-hidden="true"></i> Send
    </button>
</form>
<br>
<br>