{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-3">
            <div class="page-header">
                {% if hasUser %}
                    <h2>Personal Information</h2>
                {% else %}
                    <h2><i class="fa fa-frown-o fa-lg" aria-hidden="true"></i> The user is not found</h2>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-2">
            {% include 'homePage/userInfoBlock.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if hasUser %}
                {% include 'userPage/userDetailBlock.html.twig' %}
                <div class="page-header">
                    <h3>History</h3>
                </div>
                {% include 'userPage/votesBlock.html.twig' %}
                <div class="page-header">
                    <h3>Comments</h3>
                </div>
                {% include 'userPage/commentsBlock.html.twig' %}
            {% endif %}
            {% if hasUser and sessionData.isLogin %}
                {% include 'userPage/commentsFormBlock.html.twig' %}
            {% endif %}
        </div>
    </div>
    {% verbatim %}
        <script >
            var userInfo = true;
        </script>
    {% endverbatim %}
{% endblock %}
